.page-header-container {
  .left-container {

  }
  .right-container{
    .user-menu-container {
      cursor: pointer;

      .user-menu-content{
        top: 35px;
        min-width: 150px;
        right: 10px;
      }
    }
  }
}